@use '../../lib/service.scss' as s;


.main {
    background-color: s.color(dark);

    height: 100%;

    color: s.color(light);

    display: flex;
    justify-content: center;
    padding: s.space(10) s.space(6);
}
.main__content {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: s.space(15) ;
    }
  
    .header__title {
        font-size: 36px;
        font-weight: bold;
        padding: s.space(3) s.space(4);
    }
    .header {
        display: flex;
        flex-direction: row;
       align-items: flex-end;
       gap: s.space(4);
    
    }

    a {
        text-decoration: none;
        color: inherit;
        
        transition: opacity 0.6s;
    
        &:hover {
        opacity: 0.6;
        }
    }
    .playlist__list {
        display: grid;
        grid-template-columns: repeat( 2, 1fr) ;
        }