@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/divider/style.scss' as divider;

@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;


.purchase-item {
width: 100%;
display: grid;
grid-template-columns: repeat(4, 1fr) ;
gap: s.space(4);
padding: s.space(5);
border: 1px solid s.color(border);
border-radius: 10px;
}

.purchase-list {
display: flex;
flex-direction: column;
gap: s.space(10);
padding: s.space(10);
}
.purchase-item__block {
    display: flex;
    flex-direction: column;
}